@charset "UTF-8";
/* -----------------------------------------------------------------
                       @media
1-ый параметр $min-max принимает 3 аргумента min, max, min-max.
   min       - для mobil @media
   max       - для dectop @media
   min-max   - для промежутка между mobil-dectop @media
2-ой параметр $breakpoint_1 принимает 1-ин аргумент.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...)
3-ий параметр $breakpoint_2 принимает 1-ин аргумент, является не обязательным параметром.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...) нужен для 1-ого параметра 3 аргумента.
 Дополнение:
   map-has-key  - Нужен для проверки ключа в карте, если ключа указанного нет то условие не выполняется.
   map-get      - Нужен для использование ключей из карты.
Пример:
   @include media(max, xxl) { display: none;}
   @include media(min, xxl) { display: none;}
   @include media(min-max, mn-lg, mx-xxl) { display: none;}
Одиночные брекпоинты:
   @include media(max, 870px,) { display: none;}
   @include media(min, 870px,) { display: none;}
   @include media(min-max, 870px, 1000px) { display: none;}
--------------------------------------------------------------------*/
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-cart:before {
  content: "\e900";
}

._icon-check:before {
  content: "\e901";
}

._icon-delet:before {
  content: "\e902";
}

._icon-instagram:before {
  content: "\e903";
}

._icon-logo:before {
  content: "\e904";
}

._icon-plus:before {
  content: "\e905";
}

._icon-search:before {
  content: "\e906";
}

._icon-youtube:before {
  content: "\e907";
}

._icon-telegram:before {
  content: "\e908";
}

._icon-arrow:before {
  content: "\e909";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.link {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #000;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

body {
  margin: 0 auto;
  background: #e5e5e5;
  color: #000;
}

main {
  padding: 35px 50px 60px 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1440px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(84px);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  gap: 20px;
  grid-template-areas: "sidebar header header" "sidebar grid grid";
}

.grid {
  grid-area: grid;
}

.header {
  grid-area: header;
}

.burger {
  width: 40px;
  height: 40px;
  padding: 14px 11px;
  display: block;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 15;
  background-color: #53CD8B;
  border-radius: 50%;
}
@media only screen and (min-width: 1279px) {
  .burger {
    display: none;
  }
}
.burger__inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger__inner span, .burger__inner::before, .burger__inner::after {
  content: "";
  transition: all 0.3s ease 0s;
  left: 0px;
  position: absolute;
  width: 18px;
  height: 1px;
  background-color: #fff;
}
.burger__inner::before {
  top: 0px;
}
.burger__inner::after {
  bottom: 0px;
}
.burger__inner span {
  top: calc(50% - 1px);
}
.open .burger__inner span {
  transform: scale(0);
}
.open .burger__inner::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.open .burger__inner::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.scroll-down .header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .header {
  transform: none;
  background-color: #fff;
  padding: 15px 0;
  margin-top: 0 !important;
  max-width: 1400px;
  left: 50%;
  transform: translateX(-50%);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header input[type=search] {
  width: 130px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../img/icons/search.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}
.header input[type=search]:focus {
  width: 100%;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.header__box-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 42px;
}
.nav__link {
  position: relative;
}
.nav__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -10px;
  left: 0;
  background-color: #000;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .nav__link::before {
    bottom: -10px;
  }
}
.nav__link:hover::before, .nav__link:focus::before {
  transform-origin: left;
  transform: scaleX(1);
}
.open .header {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  margin-top: 0;
  padding-top: 30px;
}
.open .header__wrapper {
  flex-direction: column;
}
.open .header__block {
  margin-bottom: 36px;
}
@media only screen and (min-width: 1279px) {
  .open .header__logo {
    margin-right: 40px;
  }
}
.open .header__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 65px;
}
.open .header__nav {
  display: flex;
}
.open .nav__list {
  gap: 22px;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.open .nav__item {
  font-size: 12px;
}
.sidebar {
  padding-right: 65px;
  padding-top: 15px;
  grid-area: sidebar;
}
@media only screen and (max-width: 1023px) {
  .sidebar {
    padding-right: 40px;
  }
}
.sidebar__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.sidebar__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 60px;
}
.sidebar__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #000;
}
.sidebar .nav__list {
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
.sidebar .nav__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.sidebar__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar__chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  background-color: #f6f6f6;
}
.sidebar__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-template-areas: "one one seven eight" "two two seven eight" "three four five five" "three four six six";
}
@media only screen and (max-width: 1439px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "one one" "two two" "seven eight" "seven eight" "three four" "three four" "five five" "six six";
    margin: 0 auto;
  }
}
.grid__item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.grid__item:first-child {
  grid-area: one;
}
.grid__item:nth-child(2) {
  grid-area: two;
}
.grid__item:nth-child(3) {
  grid-area: three;
}
.grid__item:nth-child(4) {
  grid-area: four;
}
.grid__item:nth-child(5) {
  grid-area: five;
}
.grid__item:nth-child(6) {
  grid-area: six;
}
.grid__item:nth-child(7) {
  grid-area: seven;
}
.grid__item:last-child {
  grid-area: eight;
}
@media only screen and (max-width: 1023px) {
  .grid__img {
    max-width: 100%;
  }
}
.grid__content {
  position: absolute;
  top: 50%;
  left: 28px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transform: translateY(-50%);
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .grid__content {
    max-width: 230px;
  }
}
.grid__content--center {
  align-items: center;
  transform: translate(-50%, -50%);
  left: 50%;
}
.grid__text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
}
.grid__text--big {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}
.grid__text--blue {
  font-size: 26px;
  line-height: 30px;
  color: #001aa2;
}
.grid__text--red {
  font-size: 26px;
  line-height: 30px;
  color: #fd2e24;
}
.grid__favorite {
  cursor: pointer;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 22px;
  right: 30px;
  z-index: 1;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: 50% 50%;
  background-image: url("../img/icons/heart.svg");
}
