.nav {
  // .nav__list
  &__list {
    @include flex(space-between, center, wrap);
    gap: 42px;
  }
  // .nav__item
  &__item {
  }
  // .nav__link
  &__link {
    position: relative;
    &::before {
      @include pseudo;
      @include wh(100%, 2px);
      @include pos(absolute, $bottom: -10px, $left: 0);
      background-color: $mainColor;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
      @include media(max, md) {
        bottom: -10px;
      }
	}
    &:hover,
    &:focus {
      &::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }
  // .nav__img
  &__img {
  }
}
