.header {
  // .header__wrapper
  &__wrapper {
    @include flex(space-between, center, wrap);
  }
  // .header__form-search
  &__form-search {

  }

  
  // .header__search
  &__search {
  }
  input[type=search] {
    width: 130px;
    box-sizing: border-box;
   
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('@img/icons/search.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  
    transition: width 0.4s ease-in-out;
  }
  
  input[type=search]:focus {
    width: 100%;
    
  }
  
 
  // .header__wrap
  &__wrap {
	@include flex(space-between, center, wrap);
	gap: 50px;
  }
  // .header__nav
  &__nav {
  }
  .nav {
    // .nav__list
    &__list {
    }
    // .nav__item
    &__item {
    }
    // .nav__link
    &__link {
    }
  }
  // .header__box-icon
  &__box-icon {
	@include flex(space-between, center);
	gap: 25px;
  }
  // .header__link
  &__link {
   
  }
}
